<section class="jumbotron text-center">
  <h1>UPRN.org.uk</h1>
  <%= button_to 'Login', '/auth/auth0', method: :post, class: 'btn btn-success btn-lg', id: 'qsLoginBtn' unless session[:userinfo].present? %>
</section>
<p>
Example bbox <a href="/geolocations/bbox?bottom_left_lat=50&bottom_left_long=-3&top_right_lat=52&top_right_long=-2">/geolocations/bbox?bottom_left_lat=50&bottom_left_long=-3&top_right_lat=52&top_right_long=-2</a>
</p>
<p>
Example point <a href="/geolocations/1">/geolocations/1</a>
</p>
<p><a href="mailto:steve@stevecoast.com">email</a></p>